<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteRule ^api/games/(json|xml|html)$ games.php?format=$1
  RewriteRule ^api/games/([0-9]+)/(json|xml|html)$ games.php?id=$1&format=$2
  #RewriteRule ^api/games games.php?format=xml

</IfModule>

AddType application/x-httpd-php .html

# supress php errors
php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off
php_value docref_root 0
php_value docref_ext 0
# enable PHP error logging
php_flag  log_errors on
php_value error_log  /home/path/public_html/domain/PHP_errors.log
# prevent access to PHP error log
<Files PHP_errors.log>
 Order allow,deny
 Deny from all
 Satisfy All
</Files>